.custom-select-container {
  position: relative;
  display: inline-block;
  width: 150px;
  /* Set the desired width */
}

.custom-select {
  width: 100%;
  padding: 8px 20px 8px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.custom-select:focus {
  outline: none;
}

.selected-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 8px;
}

.selected-option {
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  background-color: #e7f3ff;
  padding: 4px 8px;
  border-radius: 4px;
}

.remove-tag {
  cursor: pointer;
  margin-left: 8px;
}
/* Table styling */
table {
  width: 1065px;
  height: 419px;
  margin-top: 767px;
  margin-left: 302px;
  border-radius: 8px;
  border-collapse: collapse;
  /* Collapse table borders */
  background: #F5F5F5;
}

/* Table header row styling */
thead tr {
  height: 58px;
  background: #FFFFFF;
}

/* Table body row styling */
tbody tr {
  height: 58px;
  background: #FFFFFF;
}

/* Table cell styling */
th,
td {
  padding: 8px;
  text-align: left;
}

/* Optional: Add border to cells */
th,
td {
  border: 1px solid #CCCCCC;
}